@charset "utf-8";
@font-face{
    font-family: NotoSansL; // 200
    src: url("../fonts/NotoSansKR-Light.eot");
    src: local("★"),
         url("../fonts/NotoSansKR-Light.woff2") format("woff2"),
         url("../fonts/NotoSansKR-Light.woff") format("woff"),
         url("../fonts/NotoSansKR-Light.otf") format("opentype")
}
@font-face{
    font-family: NotoSansDL; /* 300 */
    src: url("../fonts/NotoSansKR-DemiLight.eot");
    src: local("※"),
         url("../fonts/NotoSansKR-DemiLight.woff2") format("woff2"),
         url("../fonts/NotoSansKR-DemiLight.woff") format("woff"),
         url("../fonts/NotoSansKR-DemiLight.otf") format("opentype")
}
@font-face{
    font-family: NotoSansR; /* 500 */
    src: url("../fonts/NotoSansKR-Regular.eot");
    src: local("※"),
         url("../fonts/NotoSansKR-Regular.woff2") format("woff2"),
         url("../fonts/NotoSansKR-Regular.woff") format("woff"),
         url("../fonts/NotoSansKR-Regular.otf") format("opentype")
}
@font-face{
    font-family: NotoSansM; /* 700 */
    src: url("../fonts/NotoSansKR-Medium.eot");
    src: local("※"),
         url("../fonts/NotoSansKR-Medium.woff2") format("woff2"),
         url("../fonts/NotoSansKR-Medium.woff") format("woff"),
         url("../fonts/NotoSansKR-Medium.otf") format("opentype")
}

/* 태그 초기화 */
body, ul, h1, h2, h3, h4, p, dl, dt, dd{margin: 0;padding: 0;}
body{font-family: NotoSansL;font-size: 16px;color: #333}
ul{list-style: none}
h1, h2, h3, h4{font-size: inherit}
a:link, a:visited, a:hover, a:active{color: inherit;text-decoration: none}
img{border: none;vertical-align: top}
header, nav, section, footer{display: block}
button{border: none;background: none;cursor: pointer;font-family: inherit;font-size: inherit; color: inherit}

/* 공통 클래스 */
.p_a{position: absolute}
.p_r{position: relative;}
.f_l{float: left;}
.f_r{float: right}
.clearfix:after{content: "";display: block;clear: both}
.blind{font-size: 0;line-height: 0;width: 1px;height: 1px;overflow: hidden;position: absolute;top: 0;left: -9999px;text-indent: -9999px}
.area{width: 1300px;margin: 0 auto}

/* variable */
$red: #f00;
$green: #3cff00;
$blue: #01a2ff;
$yellow: #ff0;
$pink: #ffc0cb;
$orange: #ffa500;
$purple: #b31bb3;
$white: #fff;

/* @mixin */
@mixin pos($val, $top, $left) {
    position: $val;
    top: $top;
    left: $left;
}
@mixin bgSize($val) {
    -webkit-background-size: $val;
    -moz-background-size: $val;
    -o-background-size: $val;
    background-size: $val;
}
@mixin boxSize {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@mixin visualAni ($from, $to) {
    from{transform: translateY($from)}
    to{transform: translateY($to)}
}

@mixin animation ($name, $duration, $delay, $iteration, $direction) {
    -webkit-animation-name: $name;
    -webkit-animation-duration: $duration;
    -webkit-animation-delay: $delay;
    -webkit-animation-iteration-count: $iteration;
    -webkit-animation-direction: $direction;

    -moz-animation-name: $name;
    -moz-animation-duration: $duration;
    -moz-animation-delay: $delay;
    -moz-animation-iteration-count: $iteration;
    -moz-animation-direction: $direction;

    animation-name: $name;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-iteration-count: $iteration;
    animation-direction: $direction;
}

@mixin opa($num1, $num2) {
    opacity: $num1;
    filter: Alpha(opacity=$num2);
}

@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    transition: $value;
}
@mixin clearfix() {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}
/* skip 
*/
#skip a{position: absolute;top: 0;left: -9999px;z-index: 100;}
#skip a:focus, #skip a:active{left: 0;width: 100%;text-align: center;color: lightblue;height: 50px;line-height: 50px;background: lightblue;color: #000080}

body{overflow-x:hidden;overflow-y: hidden;}
#header{position: fixed;top: 30px;left: 30px;z-index: 500}

#indicator{
    position: fixed;bottom: 20px;left: 50%;margin-left: -175px;width: 350px;height: 100px;text-align: center;overflow: hidden;background: rgba(256, 256, 256, .5);z-index: 500;
    ul li{
        position: absolute;top: 100%;left: 0;width: 100%;opacity: 0;filter: Alpha(opacity=0);
        a{display: block;opacity: 0;filter: Alpha(opacity=0)}
        &.on, &.off{position: absolute;top: 0;opacity: 1;filter: Alpha(opacity=100)}
        .clone span{transform:translateY(50px);display: inline-block;}
        &.on .clone span{transform:translateY(0px)}
        &.off .clone span{transform:translateY(-80px)}
    }
}
#indicator ul li.on .clone span, #indicator ul li.off .clone span{transition: all 0.5s;font-family: NotoSansM;color: #000}/* #indicator ul li .clone span,  */
#indicator ul li .clone span{@include opa(0, 0);line-height: 100px;font-size: 60px}
#indicator ul li.on .clone span, #indicator ul li.off .clone span{opacity: 1;filter: Alpha(opacity=100)}

#none{opacity: 0 !important;filter: Alpha(opacity=0) !important;}
.blank{width: 20px;}

#main{
        height: 100%;overflow: hidden;
        .wrap{
            height: 100%;
            article{float: left;text-align: center;font-size: 100px;}
        }
    #page1{
        position: relative;
        .board{position: absolute;left: 50%;margin-left: -900px;top: 90px}
        ul li{
            span.arrow{position: absolute;left: 50%;font-size: 20px;font-family: NotoSansM;padding-right: 15px;background: url("../images/click.png") 100% 50% no-repeat}
            .click1{top: 265px;left: 50%;margin-left: -740px;}
            .click2{top: 10px;left: 50%;margin-left: 180px;}
            .click3{top: 275px;left: 50%;margin-left: 420px;}
            
            a{position: absolute;left: 50%}
            .hor{top: 295px;;margin-left: -755px;}
            .king{top: 40px;margin-left: 80px;}
            .one{top: 305px;margin-left: 405px;}
    
            p{position: absolute;font-size: 30px;font-family: NotoSansM;left: 50%;}
            .about{top: 315px;margin-left: -615px;color: #fff}
            .portfolio{top: 365px;margin-left: -125px;}
            .skills{top: 470px;margin-left: 330px;}
        }
        #dim, .md_cnt{position: fixed;display: none;z-index: 1000;}
        #dim{top: 0;left: 0;right: 0;bottom: 0;background: rgba(0, 0, 0, .6)}
        .md_cnt{
            background: #fff;width: 1400px;height: 800px;border: 15px solid #000;@include boxSize;
            .close{position: absolute;top: 50px;right: 50px;}
        }
        #modalcnt1{
            text-align: left;
            .md_img{position: absolute;top: 80px;left: 82px;}
            .md_txt{
                padding-left: 500px;float: left;margin: 80px auto;@include clearfix();width: 700px;height: 500px;
                > li{
                    margin-bottom: 80px;width: 700px;height: 200px;
                    & + li{height: 100px;}
                    strong{display: block;font-size: 35px;margin-bottom: 20px;font-family: NotoSansR}
                    .m_tit, .m_txt{float: left;font-size: 22px}
                    .m_tit{margin-right: 100px;font-family: NotoSansR}
                }
            }
        }
        #modalcnt2{
            ul{
                width: 1080px;margin: 50px auto;
                li{
                    float: left;height: 320px;@include opa(1, 100);
                    &:nth-child(n+4){margin-bottom: 30px;}
                    &:not(:nth-child(4n+1)){margin-left: 80px;}
                    .inner{position: relative;width: 210px;height: 243px;background: url("../images/skill_phone.png");}
                    strong{display: block;font-size: 25px;line-height: 3;font-family: NotoSansR;text-align: center}
                    .inner .value{top: 110px;margin-left: -30px;width: 60px;height: 92px}
                    .inner .value div{position: absolute;width: 100%;height: 0%;bottom: 0;@include transition(height 0.5s)}
                    p{top: 40px;width: 100%;text-align: center;margin-left: -105px;font-size: 27px;}
                    .inner > *{position: absolute;left: 50%;@include opa(0.4, 40)}
                    &:hover .inner > *{@include opa(1, 100)}
                    .inner svg{top: 90px;margin-left: -35px;}
                }
                &.flashing #html .inner > *{@include animation(flashing, 1.5s, 0s, infinite, alternate)}
                &.flashing #css .inner > *{@include animation(flashing, 1.5s, 1s, infinite, alternate)}
                &.flashing #jquery .inner > *{@include animation(flashing, 1.5s, 0s, infinite, alternate)}
                &.flashing #web .inner > *{@include animation(flashing, 1.5s, 1s, infinite, alternate)}
                &.flashing #javascript .inner > *{@include animation(flashing, 1.5s, 1s, infinite, alternate)}
                &.flashing #wordpress .inner > *{@include animation(flashing, 1.5s, 1s, infinite, alternate)}
                &.flashing #bootstrap .inner > *{@include animation(flashing, 1.5s, 1s, infinite, alternate)}
                &.flashing #photoshop .inner > *{@include animation(flashing, 1.5s, 1s, infinite, alternate)}

                

                #html .inner svg{fill: $red}
                #css .inner svg{fill: $green}
                #jquery .inner svg{fill: $blue}
                #web .inner svg{fill: $yellow}
                #javascript .inner svg{fill: $pink}
                #wordpress .inner svg{fill: $orange}
                #bootstrap .inner svg{fill: $purple}
                #photoshop .inner svg{fill: $white}

                #html:hover .inner .value div{background: $red;height: 90%;}
                #css:hover .inner .value div{background: $green;height: 90%;}
                #jquery:hover .inner .value div{background: $blue;height: 60%;}
                #web:hover .inner .value div{background: $yellow;height: 70%;}
                #javascript:hover .inner .value div{background: $pink;height: 60%;}
                #wordpress:hover .inner .value div{background: $orange;height: 70%;}
                #bootstrap:hover .inner .value div{background: $purple;height: 80%;}
                #photoshop:hover .inner .value div{background: $white;height: 70%;}

                #html p{color: $red}
                #css p{color: $green}
                #jquery p{color: $blue}
                #web p{color: $yellow}
                #javascript p{color: $pink}
                #wordpress p{color: $orange}
                #bootstrap p{color: $purple}
                #photoshop p{color: $white}
            }
        }
    }
    @keyframes flashing{
        from{@include opa(0.4, 40)}
        to{@include opa(0.2, 20)}
      }   
    #page2, #page3, #page4{
        position: relative;background: #000 no-repeat center center;
        span{position: absolute;font-size: 16px;font-family: NotoSansR;color: #fff;background: #999;width: 100px;height: 100px;top: 30px;left: 770px;border-radius: 50%;text-align: center;line-height: 100px;} 
    
    }
    #page2{
        background-image: url("../images/big1.jpg");
        &.on .visual img{
        @include animation (visualAni1, 10s, 1s, infinite, alternate);
        }
    }
    @keyframes visualAni1{
        @include visualAni(0, -1164px);
    }
    #page3{
        background-image: url("../images/big2.jpg");background-color: #fff;
        &.on .visual img{

        @include animation (visualAni2, 10s, 1s, infinite, alternate);
        }
    }
    @keyframes visualAni2{
        @include visualAni(0, -2178px);
    }
    #page4{
        background-image: url("../images/big3.jpg");
        &.on .visual img{
        @include animation (visualAni3, 10s, 1s, infinite, alternate);
        }
    }
    @keyframes visualAni3{
        @include visualAni(0, -1691px);
    }
    
}


article{
    position: relative;
    .visual{
        position: absolute;top: 230px;left: 510px;width: 900px;height: 500px;overflow: hidden
    }
}
.scroll{
    position: fixed;top: 50%;right: 10px;
    span{display: inline-block;font-size: 20px;font-family: NotoSansM;padding-right: 10px;}
    img{vertical-align: middle;margin-top: -7px;}
}
