@charset "utf-8";
@font-face{
    font-family: NotoSansL; // 200
    src: url("../fonts/NotoSansKR-Light.eot");
    src: local("★"),
         url("../fonts/NotoSansKR-Light.woff2") format("woff2"),
         url("../fonts/NotoSansKR-Light.woff") format("woff"),
         url("../fonts/NotoSansKR-Light.otf") format("opentype")
}
@font-face{
    font-family: NotoSansDL; /* 300 */
    src: url("../fonts/NotoSansKR-DemiLight.eot");
    src: local("※"),
         url("../fonts/NotoSansKR-DemiLight.woff2") format("woff2"),
         url("../fonts/NotoSansKR-DemiLight.woff") format("woff"),
         url("../fonts/NotoSansKR-DemiLight.otf") format("opentype")
}
@font-face{
    font-family: NotoSansR; /* 500 */
    src: url("../fonts/NotoSansKR-Regular.eot");
    src: local("※"),
         url("../fonts/NotoSansKR-Regular.woff2") format("woff2"),
         url("../fonts/NotoSansKR-Regular.woff") format("woff"),
         url("../fonts/NotoSansKR-Regular.otf") format("opentype")
}
@font-face{
    font-family: NotoSansM; /* 700 */
    src: url("../fonts/NotoSansKR-Medium.eot");
    src: local("※"),
         url("../fonts/NotoSansKR-Medium.woff2") format("woff2"),
         url("../fonts/NotoSansKR-Medium.woff") format("woff"),
         url("../fonts/NotoSansKR-Medium.otf") format("opentype")
}

/* 태그 초기화 */
body, ul, h1, h2, h3, h4, p, dl, dt, dd{margin: 0;padding: 0;}
body{font-family: NotoSansL;font-size: 16px;color: #333}
ul{list-style: none}
h1, h2, h3, h4{font-size: inherit}
a:link, a:visited, a:hover, a:active{color: inherit;text-decoration: none}
img{border: none;vertical-align: top}
header, nav, section, footer{display: block}
button{border: none;background: none;cursor: pointer;font-family: inherit;font-size: inherit; color: inherit}

/* 공통 클래스 */
.p_a{position: absolute}
.p_r{position: relative;}
.f_l{float: left;}
.f_r{float: right}
.clearfix:after{content: "";display: block;clear: both}
.blind{font-size: 0;line-height: 0;width: 1px;height: 1px;overflow: hidden;position: absolute;top: 0;left: -9999px;text-indent: -9999px}
.area{width: 1300px;margin: 0 auto}

/* variable */
$red: #f00;
$green: #3cff00;
$blue: #01a2ff;
$yellow: #ff0;
$pink: #ffc0cb;
$orange: #ffa500;
$purple: #b31bb3;
$white: #fff;

/* @mixin */
@mixin pos($val, $top, $left) {
    position: $val;
    top: $top;
    left: $left;
}
@mixin bgSize($val) {
    -webkit-background-size: $val;
    -moz-background-size: $val;
    -o-background-size: $val;
    background-size: $val;
}
@mixin boxSize {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@mixin visualAni ($from, $to) {
    from{transform: translateY($from)}
    to{transform: translateY($to)}
}

@mixin animation ($name, $duration, $delay, $iteration, $direction) {
    -webkit-animation-name: $name;
    -webkit-animation-duration: $duration;
    -webkit-animation-delay: $delay;
    -webkit-animation-iteration-count: $iteration;
    -webkit-animation-direction: $direction;

    -moz-animation-name: $name;
    -moz-animation-duration: $duration;
    -moz-animation-delay: $delay;
    -moz-animation-iteration-count: $iteration;
    -moz-animation-direction: $direction;

    animation-name: $name;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-iteration-count: $iteration;
    animation-direction: $direction;
}

@mixin opa($num1, $num2) {
    opacity: $num1;
    filter: Alpha(opacity=$num2);
}

@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    transition: $value;
}
@mixin clearfix() {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

#skip a{
    position: absolute;top: 0;left: -9999px;z-index: 100;
    &:focus, &:active{left: 0;width: 100%;text-align: center;color: lightblue;height: 50px;line-height: 50px;background: lightblue;color: #000080}
}

#header{
    top: 0;left: 0;width: 100%;height: 100px;position: absolute;z-index: 500;
    .home, .projectList{position: absolute} 
    .home{top: 30px;left: 45px;}
    .projectList{
        top: 50px;right: 45px;@include clearfix();
        li{float: left;font-size: 20px;font-family: NotoSansR;margin-left: 40px;color: #fff}
    }
}

#belleCnt1{
    background: url("../images/belle_bg.jpg") no-repeat top center;width: 1920px;height: 920px;color: #fff;
    h2{font-size: 180px;position: absolute;top: 50%;left: 50%;margin-top: -134px;margin-left: -199px;color: #fff}
    .info{
        position: absolute;top: 770px;left: 50%;width: 1920px;height: 150px;background: rgba(0, 0, 0, 0.2);margin-left: -960px;color: #fff;
        strong{display: inline-block;font-size: 50px;padding-left: 412px;line-height: 150px;font-family: NotoSansR}
        dl{width: 960px; overflow:hidden}
        dl dt {width:50%;}
        dl dd{width: 50%;}
    }
}

section h3{font-size: 45px}
section h3 span{font-size: 100px;color: #aaa;font-family: NotoSansM;margin-right: 20px;}
section strong{font-size: 20px}

#content #belleCnt2, #belleCnt3, #belleCnt4{padding-top: 100px;width: 1620px;margin: 0 auto}
#belleCnt2 .accordion{margin-top: 70px;height: 702px;}
.accordion div {float: left;-webkit-transform: perspective(900px) rotateY(60deg);-webkit-transition: all 0.7s ease-in-out;height: 702px;margin-left: -250px;padding-top: 70px;width: 455px;}
.accordion div:first-child {margin-left: 20px; -webkit-transform: perspective(0) rotateY(0deg); margin-right:120px}
.accordion div:hover {-webkit-transform: perspective(0) rotateY(-10deg);margin: 0 140px 0 -60px;}

#content #belleCnt3{margin-top: 300px;}
#belleCnt3 h3, #belleCnt3 strong{text-align: right}
.detail_slider{position:relative;height: 960px;width: 1920px;overflow:hidden;margin-top: 77px}
/* .detail_slider:before{content: "";display: block;width: 50%;height: 100%;background: #b31bb3}
.detail_slider .visual li{position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 10}
.detail_slider .visual li.on{z-index: 20}

.detail_slider .visual li:before, .detail_slider .visual li .img, .detail_slider .visual li .txtbox{-webkit-transition: all 0.4s;-moz-transition: all 0.4s;-o-transition: all 0.4s;transition: all 0.4s}
.detail_slider .visual li:before{content: "";position: absolute;top: 0;left: 0;width: 50%;height: 0;background: #b31bb3}
.detail_slider .visual li.on:before{height: 100%}

.detail_slider .visual li {margin-left: 50%;opacity: 0;filter: Alpha(opacity=0)}
.detail_slider .visual li.on .img{opacity: 1;filter: Alpha(opacity=100)}
.detail_slider .visual li .img{width: 100%;height: auto}
.detail_slider .visual li .txtbox{position: absolute;top: 30px;left: 0;opacity: 0;filter: Alpha(opacity=0);-webkit-transform: translateY(-2vw);-moz-transform: translateY(-2vw);transform: translateY(-2vw)}
.detail_slider .visual li.on .txtbox{opacity: 1;filter: Alpha(opacity=100);-webkit-transform: translateY(0vw);-moz-transform: translateY(0px);transform: translateY(0px)}
.detail_slider .visual li.on .txtbox h4{font-size: 22px;line-height: 22px;font-family:'AvantGB'}
.detail_slider .visual li.on .txtbox p{font-size: 16px;line-height: 16px;margin-top: 1.4vw}
 
.detail_slider .controlbox{position: absolute;top: 0;left: 0;width: 60%;height: 15px;background: #fff;z-index: 30;text-align: center;font-size: 0.7vw}
.detail_slider .controlbox > *{position: absolute;top: 25%;height: 50%}
.detail_slider .controlbox .play_stop{left: 60%;width: 5%}
.detail_slider .controlbox .play_stop button{display: none;width: 100%;height: calc(100% - 1px);background: #ffb400}
.detail_slider .controlbox .play_stop button.on{display: block}
 
.detail_slider .paging{left: 10%;width: 50%}
.detail_slider .paging li{display: table;float: left;width: calc(100% / 3);height: 100%}
.detail_slider .paging li a{display: table-cell;vertical-align: middle;border: 1px solid #fff;color: #fff}
.detail_slider .paging li.on a{color: #333} */