@charset "utf-8";
@font-face{
    font-family: NotoSansL; // 200
    src: url("../fonts/NotoSansKR-Light.eot");
    src: local("★"),
         url("../fonts/NotoSansKR-Light.woff2") format("woff2"),
         url("../fonts/NotoSansKR-Light.woff") format("woff"),
         url("../fonts/NotoSansKR-Light.otf") format("opentype")
}
@font-face{
    font-family: NotoSansDL; /* 300 */
    src: url("../fonts/NotoSansKR-DemiLight.eot");
    src: local("※"),
         url("../fonts/NotoSansKR-DemiLight.woff2") format("woff2"),
         url("../fonts/NotoSansKR-DemiLight.woff") format("woff"),
         url("../fonts/NotoSansKR-DemiLight.otf") format("opentype")
}
@font-face{
    font-family: NotoSansR; /* 500 */
    src: url("../fonts/NotoSansKR-Regular.eot");
    src: local("※"),
         url("../fonts/NotoSansKR-Regular.woff2") format("woff2"),
         url("../fonts/NotoSansKR-Regular.woff") format("woff"),
         url("../fonts/NotoSansKR-Regular.otf") format("opentype")
}
@font-face{
    font-family: NotoSansM; /* 700 */
    src: url("../fonts/NotoSansKR-Medium.eot");
    src: local("※"),
         url("../fonts/NotoSansKR-Medium.woff2") format("woff2"),
         url("../fonts/NotoSansKR-Medium.woff") format("woff"),
         url("../fonts/NotoSansKR-Medium.otf") format("opentype")
}

/* 태그 초기화 */
body, ul, h1, h2, h3, h4, p, dl, dt, dd{margin: 0;padding: 0;}
body{font-family: NotoSansL;font-size: 16px;color: #333}
ul{list-style: none}
h1, h2, h3, h4{font-size: inherit}
a:link, a:visited, a:hover, a:active{color: inherit;text-decoration: none}
img{border: none;vertical-align: top}
header, nav, section, footer{display: block}
button{border: none;background: none;cursor: pointer;font-family: inherit;font-size: inherit; color: inherit}

/* 공통 클래스 */
.p_a{position: absolute}
.p_r{position: relative;}
.f_l{float: left;}
.f_r{float: right}
.clearfix:after{content: "";display: block;clear: both}
.blind{font-size: 0;line-height: 0;width: 1px;height: 1px;overflow: hidden;position: absolute;top: 0;left: -9999px;text-indent: -9999px}
.area{width: 1300px;margin: 0 auto}

/* variable */
$red: #f00;
$green: #3cff00;
$blue: #01a2ff;
$yellow: #ff0;
$pink: #ffc0cb;
$orange: #ffa500;
$purple: #b31bb3;
$white: #fff;

/* @mixin */
@mixin pos($val, $top, $left) {
    position: $val;
    top: $top;
    left: $left;
}
@mixin bgSize($val) {
    -webkit-background-size: $val;
    -moz-background-size: $val;
    -o-background-size: $val;
    background-size: $val;
}
@mixin boxSize {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@mixin visualAni ($from, $to) {
    from{transform: translateY($from)}
    to{transform: translateY($to)}
}

@mixin animation ($name, $duration, $delay, $iteration, $direction) {
    -webkit-animation-name: $name;
    -webkit-animation-duration: $duration;
    -webkit-animation-delay: $delay;
    -webkit-animation-iteration-count: $iteration;
    -webkit-animation-direction: $direction;

    -moz-animation-name: $name;
    -moz-animation-duration: $duration;
    -moz-animation-delay: $delay;
    -moz-animation-iteration-count: $iteration;
    -moz-animation-direction: $direction;

    animation-name: $name;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-iteration-count: $iteration;
    animation-direction: $direction;
}

@mixin opa($num1, $num2) {
    opacity: $num1;
    filter: Alpha(opacity=$num2);
}

@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    transition: $value;
}
@mixin clearfix() {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

#skip a{
    position: absolute;top: 0;left: -9999px;z-index: 100;
    &:focus, &:active{left: 0;width: 100%;text-align: center;color: lightblue;height: 50px;line-height: 50px;background: lightblue;color: #000080}
}

#header{
    top: 0;left: 0;width: 100%;height: 100px;position: absolute;z-index: 500;
    .home, .projectList{position: absolute} 
    .home{top: 30px;left: 45px;}
    .projectList{
        top: 50px;right: 45px;@include clearfix();
        li{float: left;font-size: 20px;font-family: NotoSansR;margin-left: 40px;color: #fff}
    }
}

#content .cnt1{
    background: no-repeat top center;width: 100%;height: 920px;color: #fff;margin: 0 auto;
    h2{font-size: 180px;position: absolute;top: 270px;left: 50%;color: #fff}
    .info{
        position: absolute;top: 770px;width: 100%;height: 150px;background: rgba(0, 0, 0, 0.2);color: #fff;
        strong, dl{float: left;}
        strong{display: inline-block;font-size: 50px;line-height: 150px;font-family: NotoSansR;width: 50%;text-align: right;padding-right: 50px;@include boxSize}
        dl{width: 50%;overflow:hidden;min-width: 840px;}
        dl dt, dl dd{float: left}
        dl dt{width: 200px;text-align: center}
        dl dd{width: 590px;}
    }
}
#papaCnt1 h2{margin-left: -498px;}
#belleCnt1 h2{margin-left: -199px;}
#hajeCnt1 h2{margin-left: -185px;}

#content #papaCnt1{background-image: url("../images/papa_bg.jpg")}
#content #belleCnt1{background-image: url("../images/belle_bg.jpg")}
#content #hajeCnt1{background-image: url("../images/haje_bg.jpg")}

section{
    margin: 0 auto;
    h3{
        font-size: 45px;
        span{font-size: 100px;color: #aaa;font-family: NotoSansM;margin-right: 20px;}
    }
    strong{font-size: 20px}
}

#content .cnt2{
    width: 1600px;margin: 100px auto;position: relative;
    .view{position: absolute;top: 0;right: 20px;border: 1px solid #333;padding: 10px 30px}
    .accordion{
        margin-top: 70px;height: 702px;
        div{float: left;-webkit-transform: perspective(900px) rotateY(60deg);-webkit-transition: all 0.7s ease-in-out;height: 702px;margin-left: -250px;padding-top: 70px;width: 455px;}
        div:first-child{margin-left: 20px; -webkit-transform: perspective(0) rotateY(0deg); margin-right:120px}
        div:hover {-webkit-transform: perspective(0) rotateY(-10deg);margin: 0 140px 0 -60px;}
    }
}

.cnt3{
    margin-top: 300px;
    h3, .tit{text-align: right;padding-right: 140px;}
    .tit{display: block;}
    .detail_slider{
        position:relative;height: 960px;width: 1920px;overflow:hidden;margin-top: 77px;
        .visual li .txtbox{
            position: absolute;top: 0;left: 0;width: 960px;height: 100%;text-align: right;color: #fff;
            h4{padding-top: 240px;font-size: 35px;font-family: NotoSansM}
            h4, strong, img{padding-right: 260px;}
            strong{display: block;padding-top: 20px;}
        }
        .visual li .right_img{position: absolute;bottom: 0;left: 50%;margin-bottom: 50px;margin-left: -200px;padding-top: 20px;}
        

        .controlbox .prev_next a{position: absolute;top: 70%;left: 50%}
        .controlbox .prev_next .prev{margin-left: -900px;}
        .controlbox .prev_next .next{margin-left: 850px;}
    }
    .belle_slider .visual li .txtbox{background-color: #f29987}
    .papa_slider .visual li .txtbox{background-color: #2e8b57}
    .haje_slider .visual li .txtbox{background-color: #2e5575}

}


.detail_slider .paging{
    position: absolute;top: 120px;left: 50%;margin-left: -650px;width: 390px;height: 50px;text-align: center;
    li{
        display: table;float: left;width: calc(100% / 3);height: 100%;
        a{display: table-cell;vertical-align: middle;border: 1px solid #fff;color: #fff;font-size: 20px}
        &.on a{color: #333}
    }
}

.cnt4{
    width: 100%;height: 500px;background: fixed no-repeat center top;margin-top: 360px;background-image: url("../images/color-patterns-1984238_1920.jpg");
    #box{@mixin clearfix{};width: 1550px;margin: 0 auto}
    .color, .font{float: left;margin-top: 100px;}
    h3, strong{padding-top: 700px;margin-left: 150px;}

    .color li{
        position: relative;width: 700px;height: 100px;color: #fff;font-size: 20px;
        span{position: absolute;bottom: 10px}
        .c_name{left: 20px;}
        .c_code{right: 20px;}
    }
}

#belleCnt4 .color .bg_color1{background: #960018}
#belleCnt4 .color .bg_color2{background: #FBB2A3}
#belleCnt4 .color .bg_color3{background: #ff0000}
#belleCnt4 .color .bg_color4{background: #FF00CC}
#belleCnt4 .color .bg_color5{background: #FF6600}

#hajeCnt4 .color .bg_color1{background: #6495ED}
#hajeCnt4 .color .bg_color2{background: #A1750D}
#hajeCnt4 .color .bg_color3{background: #496679}
#hajeCnt4 .color .bg_color4{background: #414257}
#hajeCnt4 .color .bg_color5{background: #323232}

#papaCnt4 .color .bg_color1{background: #016D39}
#papaCnt4 .color .bg_color2{background: #C02B18}
#papaCnt4 .color .bg_color3{background: #FBAC13}
#papaCnt4 .color .bg_color4{background: #FF2400}
#papaCnt4 .color .bg_color5{background: #009DC4}


.cnt4 .font{
    margin-left: 70px;margin-bottom: 200px;
    ul li{
        border-bottom: 1px solid #333;width: 700px;height: 100px;line-height: 100px;
        .f_name{font-size: 16px;width: 200px;display: inline-block;padding-left: 30px;}
        .f_size{margin-left: 40px;}
    }
}

#papaCnt4 .font ul .font1 .f_size{font-size: 50px}
#papaCnt4 .font ul .font2 .f_size{font-size: 50px}
#papaCnt4 .font ul .font3 .f_size{font-size: 50px}
#papaCnt4 .font ul .font4 .f_size{font-size: 50px}
#papaCnt4 .font ul .font5 .f_size{font-size: 50px}

#belleCnt4 .font ul .font1 .f_size{font-size: 50px}
#belleCnt4 .font ul .font2 .f_size{font-size: 40px}
#belleCnt4 .font ul .font3 .f_size{font-size: 35px}
#belleCnt4 .font ul .font4 .f_size{font-size: 20px}
#belleCnt4 .font ul .font5 .f_size{font-size: 16px}



#footer .return_top{right: 80px; bottom: 30px;position:fixed; z-index: 10000;}